[Desktop Entry]
Name=ExPrac
Exec=ExPrac.AppImage %u
Icon=icon
Type=Application
Categories=Utility;
Terminal=true
Comment=Truth Verification & AI Essay Console
